* {
	margin: 0;
	padding: 0;
	outline: none !important;
}

.clear {
	clear: both;
	font-size: 0;
	line-height: 0;
}

a {
	color: #409391;
	text-decoration: none !important;
}

a:hover {
	color: #106361;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
}

.wrap-main {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1;
	position: relative;
	padding: 100px 0;
}

@media all and (-ms-high-contrast: none) {
	.main {
		flex-basis: auto;
	}
	/* IE10 */
	*::-ms-backdrop, .main {
		flex-basis: auto;
	}
	/* IE11 */
}

.bg-light-black {
	background-color: #2f2f2f !important;
}

.full-width {
	float: left;
	width: 100%;
}
.wrap-main .navbar-dark.bg-primary{
	background-color: #000 !important;
}
.form-wrp .form-control, .form-wrp .custom-select {
	border-radius: 0;
	border-color: #c5c5c5;
	box-shadow: none;
}
.form-wrp .form-group label {
	margin: 0;
}

.wrap-main .navbar-dark .navbar-nav .nav-link,
.wrap-main .navbar-dark .navbar-nav .nav-link:focus, 
.wrap-main .navbar-dark .navbar-nav .nav-link:hover {
	color: #fff;
}

.form-wrp .form-group .form-control.error, .form-wrp .form-group .custom-select.error {
	border-color: #d32727;
}

label.error {
	color: #d32727;
}

.card.artist-card .card-body figure{
	width: 90px;
	height: 90px;
	border-radius: 100%;
	margin: 0;
	border-radius: 100%;
	overflow: hidden;
	float: left;
}
.card.artist-card .card-body .text{
	margin: 0 0 0 100px;
}
.artist_cards .card{
	cursor: pointer;
}
.wrap-main .card{
	border-radius: 0;
	border:none;
	box-shadow: 0 0px 7px rgba(0,0,0, 0.1);
}
.form-search-artist #btn_search_artist{
	position: absolute;
	right: 0;
	color: #999;
	top: 0;
	height: 48px;
	width: 48px;
	background-color: transparent;
	border: none;
}
.loader-spinner{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.6);
}
.lds-roller {
	display: inline-block;
	position: absolute;
	width: 80px;
	height: 80px;
	z-index: 99;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
  .lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
  }
  .lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #fff;
	margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
  }
  .lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
  }
  .lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
  }
  .lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
  }
  .lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
  }
  .lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
  }
  .lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
  }
  .lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
  }
  @keyframes lds-roller {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
.footer{
	padding: 20px 0;
	background-color: #000;
}

table.two-axis tr td:first-of-type {
    background: #dff1f7;
}

@media only screen and (max-width: 568px) {
    table.two-axis tr td:first-of-type,
    table.two-axis tr:nth-of-type(2n+2) td:first-of-type,
    table.two-axis tr td:first-of-type:before {
        background: #dff1f7;
        color: #ffffff;
    }

    table.two-axis tr td:first-of-type {
        border-bottom: 1px solid #e4ebeb;
    }
}